body {
  background-color: #BCBCBC;
  color: white;
  text-align: center;
}

body .login-container {
  background-color: #686868;
  width: 600px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

body .login-container input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: 0;
  border-radius: 0;
}

body .login-container input[type="submit"] {
  background-color: #3DAF4A;
  border: 0;
  color: white;
}
