.coverPages {
    margin-bottom: 16px;
}

.content-container {
    label {
        margin-bottom: 0;
    }

    hr {
        border-top: 1px solid black !important;
    }

    .elucidation {
        height: 216px;
        resize: none;
    }
}