$border-radius: 0px;
$input-border-color: black;

// Bootstrap Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Bootstrap Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";

// 
.table {
    margin-bottom: 0;
}

body {
    background-color: #BCBCBC;
    
    .main-container {
        background-color: #686868;
        min-height: calc(100vh - (2 * 20px));
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 15px;


        .logout-container {
            text-align: right;
            margin-top: 16px;
            .logout {
                width: 200px;
            }
        }

        .content-container {
            background-color: white;
            padding: 10px;
        }

        @import "coverPages";
        @import "liftingTests";
    }
}