<h1>Over de Rhein: Opdrachten</h1>

<a href="/order/add" class="btn btn-primary add-order">Een opdracht toevoegen</a>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Opcracht Nummer</th>
                <th>Hijs-testen</th>
                <th>Kabel-check-lijst</th>
                <th>Datum</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/order/edit&edit=47">47</a></td>
                <td><a href="/lifting-tests/edit&edit=47" class="btn btn-primary">Bewerken</a></td>
                <td><a href="/cable-check-lists/edit&edit=47" class="btn btn-primary">Bewerken</a></td>
                <td>21-02-2020</td>
                <td>Open</td>
            </tr>
        </tbody>
    </table>
</div>