@model overDeRhein.ViewModels.HomeErrorViewModel;

<a asp-controller="@Model.Controller" asp-action="@Model.Action" class="btn btn-primary coverPages">Terug naar overzigt</a>

<h1>Oeps er is iets fout gegaan</h1>